<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= foundDriver.driverName %> <%= foundDriver.driverFamilyName %> - Biography</title>
    <script src="https://kit.fontawesome.com/58de2f2a64.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="https://images.seeklogo.com/logo-png/33/1/formula-1-logo-png_seeklogo-330361.png?v=638701145740000000" type="image/x-icon">
</head>
<body>
  <header>
    <nav class="navbar">
      <ul class="menu">
        <div class="mobileMenu">
        <li class="dropdown-header">
            <a href="http://localhost:4000"><h1>F1 World</h1></a>
        </li>
        <button class="menu-toggle"><i class="fa-solid fa-bars"></i></button>
        </div>
        <div class="dropdownMenu">
        <li class="dropdown">
          <a href="#">Schedule</a>
          <div class="dropdown-content">
            <ul>
              <% races.forEach(race => { %>
                <li>
                  <form action="/races" method="GET">
                    <button type="submit" id="race_<%= race.raceName%>" >
                        <%= race.raceName %> 
                    </button>
                    <input type="hidden" name="race" value="<%= race.raceName%>" id="hidden_<%= race.raceName%>" />
                </form>
                <script>
                  document.getElementById("race_<%= race.raceName%>").addEventListener("click", () => {
                  const form = document.getElementById("hidden_<%= race.raceName %>").form;
                  form.submit();
                  });
                </script>
              </li>
              <% }) %>
            </ul>
          </div>
        </li>
        <li class="dropdown">
            <a href="http://localhost:4000/drivers">Drivers</a>
            <div class="dropdown-content">
              <ul>
                <% drivers.forEach(driver => { %>
                <li>
                  <form action="/profile" method="GET">
                    <button type="submit" id="profile_<%= driver.driverName %>">
                        <%= driver.driverName %> <%= driver.driverFamilyName %>
                    </button>
                    <input type="hidden" name="driver" value="<%= driver.driverName %> <%= driver.driverFamilyName %>" id="hidden_<%= driver.driverName %>" />
                </form>
                <script>
                  document.getElementById("profile_<%= driver.driverName %>").addEventListener("click", () => {
                  const form = document.getElementById("hidden_<%= driver.driverName %>").form;
                  form.submit();
                  });
                </script>
              </li>
                <% }) %>
              </ul>
            </div>
          </li>
          <li class="dropdown">
            <a href="#">Teams</a>
            <div class="dropdown-content" id="teamsDrop">
              <ul>
                <% teams.forEach(constructor => { %>
                  <li>
                    <form action="/team" method="GET">
                      <button type="submit" id="constructor_<%=constructor.name%>">
                        <div class="teamView">
                          <p> <%=constructor.name %> </p>
                            <img src="<%=constructor.image%>" alt="">
                            </div>
                        </button>
                      <input type="hidden" name="constructor" value="<%=constructor.name%>" id="hidden_<%=constructor.name%>"/>
                  </form>
                  
                  <script>
                    document.getElementById("constructor_<%=constructor.name%>").addEventListener("click", () => {
                    const form = document.getElementById("hidden_<%=constructor.name%>").form;
                    form.submit();
                    });
                  </script>
                </li>
                <% }) %>
              </ul>
            </div>
          </li>
          <li class="dropdown">
            <a href="http://localhost:4000/driver-standings">Driver Standings</a>
            <div class="dropdown-content">
              <a href="http://localhost:4000/driver-standings"><h2>See Driver Standings <i class="fa-solid fa-arrow-right"></i></h2></a>
            </div>
          </li>
          <li class="dropdown">
            <a href="http://localhost:4000/constructor-standings">Constructor Standings</a>
            <div class="dropdown-content">
              <a href="http://localhost:4000/constructor-standings"><h2>See Constructor Standings <i class="fa-solid fa-arrow-right"></i></h2></a>
            </div>
          </li>
        </div>
      </ul>
    </nav>
  </header>
    

    
    
    <main id="profile">
        <section class="profileImage">
        <img src="<%= foundDriver.image %>" alt="<%= foundDriver.driverName %> <%= foundDriver.driverFamilyName %>">
        </section>


        <div class="number">
            <h1><%= foundDriver.driverName %> <%= foundDriver.driverFamilyName %></h1>
            <p><%= foundDriver.number %></p>
        </div>


        <section id="profileTitle">
          <% if (foundDriver.helmetImg) { %>
            <img 
              src="<%= foundDriver.helmetImg %>" 
              alt="Driver Helmet" 
              id="helmet" 
              onerror="this.style.display='none';"
            >
          <% } %>
        </section>

        <section class="biography">

            <div class="team">
            <h3>Team</h3>
            <p>
                <% foundStanding.Constructors.forEach(info => { %>
                    <%= info.name %>
                <% }) %>
            </p>
            </div>

            <div class="position">
            <h3>Position</h3>
            <p><%= foundStanding.position %></p>
            </div>

            <div class="points">
            <h3>Points</h3>
            <p><%= foundStanding.points %></p>
            </div>

            <div class="wins">
            <h3>Wins</h3>
            <p><%= foundStanding.wins %></p>
            </div>

            <div class="nationality">
            <h3>Nationality</h3>
            <p><%= foundDriver.nationality %></p>
            </div>

            <div class="dob">
            <h3>Date of Birth</h3>
            <p><%= foundDriver.birthdate %></p>
            </div>

        </section>


        <section class="wiki">
          <h2>About <%= foundDriver.driverName %></h2>
          <br>
          <% page.extract.split('\n').forEach((paragraph) => { %>
            <p><%= paragraph.trim() %></p>
            <br>
          <% }) %>
            <a href="<%= foundDriver.wiki %>" >via Wikipedia</a>
        </section>
    </main>

</body>
</html>